body {
	background-color: #d2b48c;
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px 10px 10px 10px;
	font-family: sans-serif; /* исправлено: sans-serif */
}

blockquote.q {
	color: #D4AF37;          /* золотой (золотой цвет, как у золотой медали) */
	border-left: 4px solid #8B0000; /* тёмно-бордовый/тёмно-красный */
	font-style: italic;
}
